/* roboto */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    url("./woff2/roboto-normal-400.woff2") format("woff2"),
    url("./woff/roboto-normal-400.woff") format("woff"),
    url("./ttf/roboto-normal-400.ttf") format("ttf");
}

/* roboto */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:
    url("./woff2/roboto-normal-700.woff2") format("woff2"),
    url("./woff/roboto-normal-700.woff") format("woff"),
    url("./ttf/roboto-normal-700.ttf") format("ttf");
}
