/* nunito-sans */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200;
  src:
    url("./woff2/nunito-sans-normal-200.woff2") format("woff2"),
    url("./woff/nunito-sans-normal-200.woff") format("woff"),
    url("./ttf/nunito-sans-normal-200.ttf") format("ttf");
}

/* nunito-sans */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  src:
    url("./woff2/nunito-sans-normal-300.woff2") format("woff2"),
    url("./woff/nunito-sans-normal-300.woff") format("woff"),
    url("./ttf/nunito-sans-normal-300.ttf") format("ttf");
}

/* nunito-sans */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("./woff2/nunito-sans-normal-400.woff2") format("woff2"),
    url("./woff/nunito-sans-normal-400.woff") format("woff"),
    url("./ttf/nunito-sans-normal-400.ttf") format("ttf");
}

/* nunito-sans */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  src:
    url("./woff2/nunito-sans-normal-500.woff2") format("woff2"),
    url("./woff/nunito-sans-normal-500.woff") format("woff"),
    url("./ttf/nunito-sans-normal-500.ttf") format("ttf");
}

/* nunito-sans */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src:
    url("./woff2/nunito-sans-normal-600.woff2") format("woff2"),
    url("./woff/nunito-sans-normal-600.woff") format("woff"),
    url("./ttf/nunito-sans-normal-600.ttf") format("ttf");
}

/* nunito-sans */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("./woff2/nunito-sans-normal-700.woff2") format("woff2"),
    url("./woff/nunito-sans-normal-700.woff") format("woff"),
    url("./ttf/nunito-sans-normal-700.ttf") format("ttf");
}
